.profile__avatar-edit-btn {
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  background: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile__avatar-edit-btn:hover {
  background-image: url(../../../images/buttons/avatar-edit-btn.svg);
  background-size: 26px;
  background-color: rgba(0, 0, 0, 0.8);
  outline: 1px solid black;
  cursor: pointer;
}
